## [Bb]uild resultaten
[Bb]in/
[Obj]/
[Log]/

## Visual Studio specifieke bestanden
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.suo.user
*.suo.userosscache

## ASP.NET Core & Web rommel
.consul/
.ghw/
project.lock.json
*.cache
*.temp
_ReSharper*/
[Tt]est[Rr]esult*/
deploy.sh

## Gebruikersinstellingen en Secrets (CRUCIAAL)
appsettings.Development.json
usersecrets.json
*.ntvs_analysis.dat

## Node.js / Front-end (voor als je later extra tools gebruikt)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

## Besturingssysteem bestanden
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

## Rider / JetBrains / VS Code
.idea/
.vscode/
*.swp